*, *::after, *::before{
    box-sizing: border-box;
}
body{
    margin: 0; 
    font-family : "Segoe UI" , sans-serif;
    color: white;
}
img{
    display: block;
    width: 100%;
}

section{
    height: 90vh ;
 }
/* ------------------------------------------------------------------------------- */
:root{
    --nav-clr: #061532 ;
}
/* ------------------------------------------------------------------------------- */
nav , footer{
    background-color: var(--nav-clr);
}
#logo{
    letter-spacing: 1px;
}
#home{
    background-image: linear-gradient(rgba(0,0,0,0.6)) ,url("../image/home-bg.jpg");
    background-position: center;
    background-size: cover;
}
#home h1{
    font-size: 56px;
}
/* #home p{
    font-size: 56px;
} */