/* GENERAL------------------------------------------------------------------------------- */
*, *::after, *::before{
    box-sizing: border-box;
}
body{
    margin: 0; 
    font-family : "Segoe UI" , sans-serif;
    color: white;
}
img{
    display: block;
    width: 100%;
}
section{
    height: 90vh ;
 }
/* COLORS------------------------------------------------------------------------------- */
:root{
    --dark-clr: #061532 ;
}
.dark-clr{
    background-color: var(--dark-clr);
}
/* NAVBAR & FOOTER------------------------------------------------------------------------------- */
nav , footer{
    background-color: var(--dark-clr);
}
.letter-space-1{
    letter-spacing: 1px;
}
.nav-link{
    color: rgba(255, 255, 255, 0.55);
}
.nav-link:hover{
    color: rgba(255, 255, 255, 0.75);
}
.navbar-nav .nav-link.active{
    color: rgba(255, 255, 255, 1);
}
/* HOME------------------------------------------------------------------------------- */
#home{
    background-image: linear-gradient(rgba(0,0,0,0.6)) ,url("../image/home-bg.jpg");
    background-position: center;
    background-size: cover;
}
#home h1{
    font-size: 56px;
}
/* SERVICES------------------------------------------------------------------------------- */
#services{
    background-image: linear-gradient(rgba(0,0,0,0.6)) ,url("../image/service-bg.jpg");
    background-position: center;
    background-size: cover;
}
#services h1{
    font-size: 48px;
}
#services p.wh-p{
    font-size: 19px;
    color: rgb(224, 224, 224);
}
#services .serv-card{
    transition: all 0.3s;
}
#services .serv-card:hover{
    transform: translateY(-6px);
}